.Main {
    display: grid;
    grid-template-areas: 
    "title ."
    "posts categories";
     grid-gap: 10px;
     justify-items: flex-start;
     align-items: flex-start;
     padding: 10px;
     width: 80%;
     margin-top: 7%;
     margin-bottom: 50px;
}

.posts-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    min-width: 50vw;
    grid-area: posts;
}
/* Category selected title */
.current-category {
    grid-area: title;
}

/* Post  */
.Post {
    padding: 5px;
    background-color: #f4f4f4;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    border: 1px solid lightgray;
    margin-bottom: 2vh;
}

.votes-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn-vote {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #072741;
    border-radius: 5px;
    padding: 10px;
}

.btn-vote:hover {
    background-color: lightgray;
}


    /* header */
.post-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-header > * {
    margin: 5px;
}

.post-group,.post-postedBy, .post-user, .post-time {
    font-size: 12px;
}

.post-group, .post-user, .post-title {
    cursor: pointer;
}
.post-postedBy, .post-user, .post-time {
    color: #1d1d1d80;
}
    /* post content */
.post-content-container {
    overflow: hidden;
}

.post-title {
    padding: 0px 0 10px 0px; 
}

.post-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-top: 10px;
}   

.post-img {
    min-width: 0px;
    min-height: 0px;
    max-width: 50vw;
    max-height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 /* comment */
 .post-comment-container {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     overflow: hidden;
     margin-top: 10px;
 }

 .post-comment {
     cursor: pointer;
     color: rgb(63, 63, 63);
 }

 .post-comment-text {
    margin-left: 5px;
    font-size: 12px;
 }

 /* Categories */
.categories-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    min-height: 300px;
    padding: 10px;
    background-color: #f4f4f4;  
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-right: 10%;
    grid-area: categories;
}

.category-header {
    padding: 10px;
}

.btn-new-category {
    margin: 10px;
    padding: 10px;
    height: 20px;
    border: 1px solid #0d2e49;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #0d2e49;
}

.btn-new-category:hover {
    background-color: #0d2e49;
    color: #f4f4f4;

}

.Category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.category-info {
    display: flex;
    align-items: center;
}

.category-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(211, 211, 211)
}

.category-text-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5px;
}

.category-title {
    font-size: 12px;
    cursor: pointer;

}

.category-members {
    display: block;
    font-size: 10px;
}

.btn-join {
    padding: 10px;
    border-radius: 10px;
    background-color: #0d2e49;
    color: #f4f4f4;

}

 /* Post Button */
 .PostFloater {
     position: fixed;
     bottom: 0;
     right: 0;
     z-index: 10;
     margin-right: 10vw;
     margin-bottom: 5vh;
 }

 .btn-post-floater {
     border: 1px solid #0d2e49;
     width: 50px;
     height: 50px;
     font-size: 24px;
     display: flex;
     justify-content: center;
     align-items: center;
    border-radius:  50%;
    box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.288);
    background-color:  #f4f4f4;
    text-align: center;
 }

