.Profile {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.Profile > * {
  color: var(--secondary)
}

.profile-info * {
  color: var(--secondary)
}

.profile-pic {
  width: 150px;
  height: 150px;
  background: lightgray;
  border: 1px solid var(--border);
}

.profile-divider {
  width: 50vw;
  height: 1px;
  background-color: transparent;
  margin-top: 20px;
}

.profile-posts {
  width: 50vw;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
