@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", Arial, sans-serif;
  list-style: none;
  color: #0d2e49;
}

.mycolors {
  color: #0d2e49;
  color: #f4f4f4;
  color: #1d1d1d;
}

body {
  background-color: #f4f4f4;
}

.link {
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: #0d2e49;
  text-decoration: none;
  background-color: transparent;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
