@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root{
  --primary: #2b2d42;
  --secondary: #f1faee;
  --border: #1b1b1b;
  --black: #1b1b1b;
  --white: #f1faee;
  --text: #1b1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", "Roboto", Arial, sans-serif;
  list-style: none;
  color: var(--text);
  font-weight: 700;
}

body {
  background-color:var(--primary);
}

textarea {
  padding: 10px;
  resize: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  display: inline;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  padding: 5px 20px;
  font-size: 12px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
